In [11]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
from pandas import Series,DataFrame
import scipy
from scipy.stats import spearmanr
from pylab import rcParams
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import preprocessing

In [12]:
df = pd.read_csv(r"C:\Users\ASTRA\Desktop\cdr\corrected_cdr_data.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101174 entries, 0 to 101173
Data columns (total 21 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Phone Number    101174 non-null  object
 1   Account Length  101174 non-null  int64
 2   VMail Message   101174 non-null  int64
 3   Day Mins        101174 non-null  float64
 4   Day Calls       101174 non-null  int64
 5   Day Charge      101174 non-null  float64
 6   Eve Mins        101174 non-null  float64
 7   Eve Calls       101174 non-null  int64
 8   Eve Charge      101174 non-null  float64
 9   Night Mins      101174 non-null  float64
 10  Night Calls     101174 non-null  int64
 11  Night Charge    101174 non-null  float64
 12  Intl Mins       101174 non-null  float64
 13  Intl Calls      101174 non-null  int64
 14  Intl Charge     101174 non-null  float64
 15  CustServ Calls  101174 non-null  int64
 16  Churn           101174 non-null  bool
 17  latitude        101174 non-null  float64
 18  longitude       101174 non-null  float64
 19  time_stamp      101174 non-null  object
 20  age             101174 non-null  int64
dtypes: bool(1), float64(10), int64(8), object(2)
memory usage: 15.5+ MB

In [14]:
df.describe()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,latitude,longitude,age
count,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000,101174.000000
mean,323.597149,18.142645,587.080798,267.207613,64.958811,655.512526,267.166930,34.358125,646.786643,261.673187,68.797374,20.291269,5.737798,4.347635,2.559640,28.448816,77.562526,34.492202
std,1418.073651,75.826932,2193.094319,947.963370,133.515808,2473.445436,932.914437,36.248577,2368.028491,884.963021,232.668591,25.033214,8.196367,2.761911,2.401904,0.450102,0.448012,4.980556
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.300000,20.000000,5.258267,0.000000,0.000000,0.000000,0.000000,27.551886,76.662148,15.000000
25%,69.000000,0.000000,222.300000,88.000000,23.920000,223.300000,88.000000,22.220000,223.200000,88.000000,23.136375,8.800000,2.000000,2.280000,2.000000,28.081662,77.202566,31.000000
50%,202.000000,0.000000,262.200000,202.000000,32.600000,268.200000,202.000000,24.440000,268.200000,202.000000,53.108496,20.200000,4.000000,2.920000,2.000000,28.451369,77.558600,35.000000
75%,240.000000,22.000000,326.275000,224.000000,82.200000,329.200000,224.000000,32.020000,329.200000,224.000000,58.892590,22.800000,8.000000,4.940000,3.000000,28.811768,77.927428,38.000000
max,21111.000000,1111.000000,111111.110000,21111.000000,1111.990000,111111.200000,21111.000000,211.990000,111111.110000,21111.000000,5550.363684,211.900000,211.000000,11.920000,11.000000,29.348227,78.457462,52.000000

In [15]:
new_df = DataFrame()
def data_filter(df,col):
  data=df
  colm = data[col]
  data_mean = colm.mean()
  data_std = colm.std()
  data=data[colm<data_mean +3 * data_std]
  return(data)

In [16]:
y = df.columns.tolist()
y.remove('Phone Number')
y.remove('Churn')
y.remove('latitude')
y.remove('longitude')
y.remove('time_stamp')

In [17]:
for i in y:
  df=data_filter(df=df,col=i)

In [18]:
df.describe()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,latitude,longitude,age
count,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000,89429.000000
mean,186.889935,12.657740,305.074453,187.021559,45.183689,321.394458,186.200092,27.671172,323.369287,169.821792,44.648416,17.951652,4.977748,4.196186,2.458509,28.449253,77.562230,34.479062
std,211.802613,25.570255,257.140975,197.656460,28.649115,259.425128,199.649762,10.030531,263.302574,116.183044,30.546073,12.315869,3.642098,2.479518,2.154319,0.450014,0.448407,4.965117
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.300000,20.000000,5.258267,0.000000,0.000000,0.000000,0.000000,27.551886,76.662148,15.000000
25%,68.000000,0.000000,222.300000,88.000000,23.940000,223.300000,88.000000,22.230000,223.200000,88.000000,23.136375,8.600000,2.000000,2.290000,2.000000,28.082440,77.201947,31.000000
50%,160.000000,0.000000,244.900000,200.000000,32.320000,262.800000,200.000000,24.400000,263.300000,125.000000,32.864168,20.200000,4.000000,2.920000,2.000000,28.451558,77.558365,35.000000
75%,232.000000,22.000000,299.600000,223.000000,56.040000,322.200000,223.000000,29.620000,322.200000,222.000000,58.366763,22.800000,8.000000,4.890000,3.000000,28.812117,77.928081,38.000000
max,2911.000000,211.000000,2911.900000,2211.000000,211.990000,2911.900000,2611.000000,80.940000,2911.900000,489.000000,128.564627,69.900000,24.000000,11.290000,9.000000,29.347275,78.457462,49.000000

In [20]:
#df.to_csv(r"C:\Users\ASTRA\Desktop\corrected_cdr_data.csv")

In [21]:
from random import randrange
covid_result = []
for i in range(len(df)):
    covid_result.append(randrange(0,2))

df["covid_result"] = covid_result

In [22]:
df.head()

,Phone Number,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,...,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn,latitude,longitude,time_stamp,age,covid_result
0,382-4657,128,25,265.1,110,45.07,197.4,99,16.78,244.7,...,10.0,3,2.70,1,False,27.579509,77.693033,24-07-2022 22:03,35,0
1,371-7191,107,26,161.6,123,27.47,195.5,103,16.62,254.4,...,13.7,3,3.70,1,False,28.560522,76.770026,25-07-2022 03:45,39,1
2,358-1921,137,0,243.4,114,41.38,121.2,110,10.30,162.6,...,12.2,5,3.29,0,False,27.950405,78.239343,26-07-2022 06:06,40,1
3,375-9999,84,0,299.4,71,50.90,61.9,88,5.26,196.9,...,6.6,7,1.78,2,False,27.870927,77.755536,25-07-2022 03:47,41,1
4,330-6626,75,0,166.7,113,28.34,148.3,122,12.61,186.9,...,10.1,3,2.73,3,False,28.221296,78.280457,25-07-2022 05:48,38,0

In [23]:
X = df[['Account Length', 'VMail Message', 'Day Mins',
       'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge',
       'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn', 'age']]
Y = df['covid_result']

In [24]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [25]:
X_train = scale(X_train)
logreg = LogisticRegression()
logreg.fit(X_train,Y_train)

LogisticRegression()

In [26]:
logreg.score(X_train,Y_train)

0.504298114420698

In [27]:
from sklearn.metrics import classification_report
y_pred = logreg.predict(X_test)
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       0.48      0.02      0.03      8942
           1       0.50      0.98      0.66      8944

    accuracy                           0.50     17886
   macro avg       0.49      0.50      0.35     17886
weighted avg       0.49      0.50      0.35     17886

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:413: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(